<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Student Information</h1>
<br>
<table id="student-table" class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Code</th>
        <th scope="col">Email</th>
        <th scope="col">Major</th>
        <th scope="col">Courses Taken</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>