<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container my-2">
    <h1>
        Student List
    </h1>
    <table border="5" class="table table-triped table-responsive-md">
        <thead>
        <tr>

            <th> Student First Name</th>
            <th> Student Last Name</th>
            <th> Student Email</th>
        </tr>
        <tr>



        </tr>
        </thead>
        <tbody>
        <tr th:each ="




        >
            <th>id</th>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
        </tr>

        <tr th:each ="student : ${listStudents}">
            <th>code</th>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>